/** Search form */
.search-form label {
  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.pagination {
  .pagerContext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  button:disabled {
    display: none;
  }
}

/** Bootstrap Styles */
.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $gray;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-primary;
}

.gform_wrapper .gfield_error {
  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

/** Custom Styles */
form .gform_body {
  margin: 0 -1em;

  & > .gform_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gfield {
    width: 100%;
    padding: 0 1em;

    &.half {
      width: 50%;
    }
  }

  .gform_validation_container {
    display: none;
  }

  .gform_confirmation_wrapper {
    background-color: $primary;
    color: $light;
    padding: 0.75rem 1.25rem;
  }

  .validation_message {
    display: none;
  }
}

