.acf-repeater table {
  border-collapse: collapse;

  .acf-row.-collapsed > .acf-fields > .acf-field.-collapsed-target {
    border-top: 5px solid;
  }
}

.primary {
  .acf-repeater {
    .acf-row-handle,
    .acf-tab-wrap{
      background-color: #23282d;
    }
  }
}

.secondary {
  .acf-repeater {
    .acf-row-handle,
    .acf-tab-wrap{
      background-color: #353a3e;
    }
  }
}

.tertiary {
  .acf-repeater {
    .acf-row-handle,
    .acf-tab-wrap{
      background-color: #666b70;
    }
  }
}
