@import "common/variables";

body.login {
  background-image: linear-gradient( 45deg, $primary 0%, $secondary 100% );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  color: $light;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( #000, 0.25 );
  }

  a {
    color: $light !important;
  }

  #login {
    padding: 0 !important;
    z-index: 5;
    width: 100%;
    max-width: 400px;

    h1 a {
      background-size: contain;
      background-position: center center;
      height: 0;
      padding-top: 25%;
      width: 100%;
      background-image: url( "#{ $theme-url }images/full-logo.svg"  );
    }

    form {
      background-color: transparent;
      border: none;
      padding: 0;
    }

    .button-primary {
      background: $primary;
      border-color: $primary;
    }
  }

  #nav,
  #backtoblog {
    padding: 0;
  }
}
