/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-url: "/wp-content/themes/base2020/resources/assets/";

$primary:       #2276bb;
$secondary:     #aa8622;
$light:         #fff;
$dark:          #45454545;
$gray:          lighten( $dark, 10% );

$brand-text: $dark;

$font-size-base:              1.25rem;
$font-size-lg:                $font-size-base * 2;
$font-size-sm:                $font-size-base * 1;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$link-color:                              $secondary;
$link-hover-color:                        darken($secondary, 15%) !default;

$navbar-toggler-font-size: 1.5rem;
$navbar-light-color: $light;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-border-radius: 0;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{rgba( $light, 0.9 )}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{str-replace(str-replace(#{rgba( $light, 0.9 )}, "(", "%28"), ")", "%29")}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

$font-family-base: agenda, Arial, "Helvetica Neue", Verdana, sans-serif;
